@charset "UTF-8";
/**
 * @brief Grayscale, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Themes
 *
 * @author Philippe aka amalgame and contributors
 * @copyright GPL-2.0
 */

.intro {
    background-image: none;
}

.intro.round0 {
    background: #555 url(../img/bg-intro-0.jpg);
    background-size: cover;
    background-position: center;
}

.intro.round1 {
    background: #555 url(../img/bg-intro-1.jpg);
    background-size: cover;
    background-position: center;
}

.intro.round2 {
    background: #555 url(../img/bg-intro-2.jpg);
    background-size: cover;
    background-position: center;
}

.intro.round3 {
    background: #555 url(../img/bg-intro-3.jpg);
    background-size: cover;
    background-position: center;
}

.intro.round4 {
    background: #555 url(../img/bg-intro-4.jpg);
    background-size: cover;
    background-position: center;
}

.intro.round5 {
    background: #555 url(../img/bg-intro-5.jpg);
    background-size: cover;
    background-position: center;
}